<div class="user">
  <h1>あなたの食べたグミ、記録して共有しませんか？？</h1>

  <h2>- 新規登録 -</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :"名前" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "user__input" %>
    </div>

    <div class="field">
      <%= f.label :"メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user__input" %>
    </div>

    <div class="field">
      <%= f.label :"パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "user__input" %>
    </div>

    <div class="field">
      <%= f.label :"パスワードの確認" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user__input" %>
    </div>

    <div class="actions">
      <%= f.submit "登録", class: "user__btn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
