<%= form_with model: @gummy, local: true do |f| %>
  <div class="form__image">
  </div>

  <div class="form__list">
    <%= f.label :image, "画像", class: "form__list__label" %>
    <%= f.file_field :image, placeholder: "画像", class: "form__list__input", id: "form__list__image" %>
  </div>

  <div class="form__list">
    <%= f.label :name, "商品名", class: "form__list__label" %>
    <span class="form__list__label__need">必須</span>
    <%= f.text_field :name, placeholder: "例）つぶグミ", class: "form__list__input" %>
  </div>

  
  <div class="form__list">
    <%= f.label :maker_id, "メーカー", class: "form__list__label" %>
    <span class="form__list__label__need">必須</span>
    <%= f.collection_select(:maker_id, @makers, :id, :name, { prompt: "グミのメーカーを選択してください" }, { class: "form__list__input" }) %>
  </div>


  <%= f.label :content, "レビュー", class: "form__list__label" %>
  <span class="form__list__label__need">必須</span>
  <%= f.text_area :content, rows: "10", placeholder: "例）おいしいです！！", class: "form__list__area" %>

  <div class="form__send">
    <%= render 'layouts/error_messages', model: f.object %>
    <%= f.submit "登録する", class: "form__send__btn", data: { disable_with: "登録中" } %>
  </div>
  
<% end %>