<% @gummies.each do |gummy| %>
  <div class="items__item">
    <p class="items__item__title"><%= gummy.name %></p>
    <%= link_to gummy_path(gummy) do %>
      <% if gummy.image? %>
        <%= image_tag gummy.image.url, class: "items__item__img" %>
      <% else %>
        <%= image_tag "noimage.png", class: "items__item__img" %>
      <% end %>
    <% end %>
      <ul class="items__item__list">
        <li><%= gummy.user.name %></li>
        <li>
        <% if current_user.already_favorited?(gummy)%>
          <%= link_to gummy_favorites_path(gummy), method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to gummy_favorites_path(gummy), method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>
        </li>
        <%= gummy.favorites.count %>
      </ul>
  </div>
<% end %>