<div class="wrapper">
  <main>
    <%# 【To do】ソート機能を実装したい %>
    <!-- <%= search_form_for(@q, url:search_gummies_path) do |f| %>
      <%= f.collection_select(:maker_id, Maker.all, :id, :maker, { prompt: "グミのメーカーを選択してください" }) %>
      <%= f.submit %>
    <% end %> -->

    <%# ransackなしの検索 %>
    <div class="search">
      <%= form_with(url: search_gummies_path, local: true, method: :get, class: "search__input") do |f| %>
        <%= f.text_field :keyword, placeholder: "グミを検索する", class: "search-input" %>
        <%= f.submit "検索", class: "search-btn" %>
      <% end %>
    </div> 

    <div class="items">
      <%= render "gummies" %>
    </div>
  </main>
</div>