<div class="wrapper">
  <div class="show">
    <div class="show__image">
      <%= image_tag 'https://picsum.photos/300/300', class: "items__item__img" %>
    </div>

    <div class="show__info">
      <ul class="show__info__list">
        <li>投稿者：<%= @gummy.user.name %></li>
        <li>投稿日：<%= @gummy.created_at.to_s(:datetime_jp) %></li>
        <li>商品名：<%= @gummy.product %></li>
        <li>メーカー：<%= @gummy.maker %></li>
        <li>レビュー：<%= simple_format(@gummy.content) %></li>
      </ul>
      <% if user_signed_in? && current_user.id == @gummy.user_id %>
        <p class="show__info__trash">
          <%= link_to gummy_path(@gummy), method: :delete, data: {confirm: "削除してもよろしいですか？"} do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>