<div class="wrapper">
  <div class="show">
    <div class="show__image">
      <%= image_tag 'https://picsum.photos/300/300', class: "items__item__img" %>
    </div>

    <div class="show__info">
      <ul class="show__info__list">
        <li>投稿者：<%= @gummy.user.name %></li>
        <li>投稿日：<%= @gummy.created_at.to_s(:datetime_jp) %></li>
        <li>商品名：<%= @gummy.product %></li>
        <li>メーカー：<%= @gummy.maker %></li>
        <li>レビュー：<%= simple_format(@gummy.content) %></li>
      </ul>
    </div>
  </div>
</div>