<% breadcrumb :product %>
<%= render "layouts/breadcrumbs" %>

<div class="wrapper">
  <div class="show">
    <div class="show__image">
      <% if @gummy.image? %>
        <%= image_tag @gummy.image.url %>
      <% else %>
        <%= image_tag "noimage.png" %>
      <% end %>
    </div>
    
    <div class="show__info">
      <table class="show__info__table">
        <tbody>
          <tr>
            <th class="show__info__table--head">投稿者</th>
            <td class="show__info__table--data">
              <%= link_to @gummy.user.name, user_path(@gummy.user.id), class: "show__info__table--data__link" %>
            </td>
          </tr>
          <tr>
            <th class="show__info__table--head">投稿日</th>
            <td class="show__info__table--data">
              <%= @gummy.created_at.to_s(:datetime_jp) %>
            </td>
          </tr>
          <tr>
            <th class="show__info__table--head">商品名</th>
            <td class="show__info__table--data">
              <%= @gummy.name %>
            </td>
          </tr>
          <tr>
            <th class="show__info__table--head">メーカー</th>
            <td class="show__info__table--data">
              <%= link_to @gummy.maker&.name, @gummy.maker&.url,class: "show__info__table--data__link", target: :_blank %>
            </td>
          </tr>
          <tr>
            <th class="show__info__table--head">いいねの数</th>
            <td class="show__info__table--data">
              <% if current_user.already_favorited?(@gummy)%>
                <%= link_to gummy_favorites_path(@gummy), method: :delete do %>
                <i class="fas fa-heart show__info__table--data__like"></i>
                <% end %>
              <% else %>
                <%= link_to gummy_favorites_path(@gummy), method: :post do %>
                <i class="far fa-heart"></i>
                <% end %>
              <% end %>
              <%= @gummy.favorites.count %>
            </td>
          </tr>
          <tr>
            <th class="show__info__table--head">レビュー</th>
            <td class="show__info__table--review">
              <%= simple_format(@gummy.content) %>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="container">
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <div class="comments__field">
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p class="comments__field__text">
              <%= link_to comment.user.name, "/users/#{comment.user_id}" %>：
              <%= comment.text %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="comment-form">
      <% if current_user %>
        <%= form_with(model: [@gummy, @comment], local: true, id: "new-comment") do |f| %>
          <%= f.text_area :text, rows: "3", placeholder: "コメントする", class: "comment-form__text" %>
          <%= f.submit "送信", class: "comment-form__btn" %>
        <% end %>
      <% else %>
        <p class="comment-form__alert">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      <% end %>
    </div>
  </div>

  <div class="show_move clearfix">
    <% if @gummy.next.present? %>
      <p>
        <%= link_to "←次の商品", gummy_path(@gummy.next), class: "show_move__next"%>
      </p>
    <% end %>
    <% if @gummy.previous.present? %>
      <p>
        <%= link_to "前の商品→", gummy_path(@gummy.previous), class: "show_move__prev"%>
      </p>
    <% end %>
  </div>

  <% if user_signed_in? && current_user.id == @gummy.user_id %>
    <div class="show__edit">
      <div class="show__edit__btn">
        <%= link_to edit_gummy_path(@gummy) do %>
          <i class="far fa-edit icon"></i>
          商品の編集
        <% end %>
      </div>
    </div>
  <% end %>
</div>