<div class="wrapper">
  <div class="show">
    <div class="show__image">
      <% if @gummy.image? %>
        <%= image_tag @gummy.image.url %>
      <% else %>
        <%= image_tag "noimage.png", class: "items__item__img" %>
        <% end %>
    </div>
    
    <div class="show__info">
      <ul class="show__info__list">
        <li>投稿者：
          <%= link_to @gummy.user.name, user_path(@gummy.user.id), class: "show__info__list__name" %>
        </li>
        <li>投稿日：<%= @gummy.created_at.to_s(:datetime_jp) %></li>
        <li>商品名：<%= @gummy.product %></li>
        <li>メーカー：
        <%= link_to @gummy.maker.maker, @gummy.maker.url, target: :_blank, class: "show__info__list--maker" %>
        </li>
        <li>レビュー：
          <span class="show__info__list--review"><%= simple_format(@gummy.content) %></span>
        </li>
        
      </ul>
      <ul class="sns_icons">
        <li><a href="https://twitter.com"><i class="fab fa-twitter-square fa-2x icon"></i></a><li>
        <li><a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-2x icon"></i></a></li>
        <li><a href="https://www.instagram.com"><i class="fab fa-instagram fa-2x icon"></i></a></li>
      </ul>

      <p class="show__info__menu">
        <%= link_to root_path do %>
          <i class="far fa-list-alt icon"></i>
        <% end %>
        <% if user_signed_in? && current_user.id == @gummy.user_id %>
          <%= link_to edit_gummy_path(@gummy) do %>
            <i class="far fa-edit icon"></i>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <div class="comments__field">
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p class="comments__field__text">
              <%= link_to comment.user.name, "/users/#{comment.user_id}" %>：
              <%= comment.text %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="comment-form">
      <% if current_user %>
        <%= form_with(model: [@gummy, @comment], local: true, id: "new-comment") do |f| %>
          <%= f.text_area :text, rows: "3", placeholder: "コメントする", class: "comment-form__text" %>
          <%= f.submit "送信", class: "comment-form__btn" %>
        <% end %>
      <% else %>
        <p class="comment-form__alert">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      <% end %>
    </div>
  </div>
</div>