<div class="wrapper">
  <div class="items">
    <p class="items__count"><i class="fas fa-list"></i> <%= @name %>さんの全<%= @gummies.count %>件の投稿</p>
    <div class="items">
      <% @gummies.each do |gummy| %>
        <div class="items__item">
          <p class="items__item__title"><%= gummy.product %></p>
          <%= link_to gummy_path(gummy) do %>
            <% if gummy.image? %>
              <%= image_tag gummy.image.url, class: "items__item__img" %>
            <% else %>
              <%= image_tag "noimage.png", class: "items__item__img" %>
            <% end %>
          <% end %>
            <ul class="items__item__list">
              <li><%= gummy.created_at.to_s(:datetime_jp) %></li>
              <% if user_signed_in? && current_user.id == gummy.user_id %>
                <li>
                  <%= link_to edit_gummy_path(gummy) do %>
                    <i class="far fa-edit icon"></i>
                  <% end %>
                </li>
              <% end %>
            </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>