<div class="wrapper">
  <div class="usershow">

    <div class="profile">
      <%= image_tag 'https://picsum.photos/200/300', class: "profile__img" %>
      <ul class="profile__info">
        <li> < 名前 > </li>
        <li><%= @name %></li>
        <li> < 好きなグミ > </li>
        <li>つぶグミ</li>
        <li> < 自己紹介 > </li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit facere saepe amet pariatur laborum nobis doloribus hic at accusamus ullam fuga quis iusto ipsum, delectus aperiam alias voluptate rem libero!</li>
      </ul>
      <p>編集</p>
    </div>

    <div class="contents">
      <span class="contents__count"><i class="fas fa-list"></i>全<%= @gummies.count %>件の投稿</span>
      <div class="useritems">
        <% @gummies.each do |gummy| %>
          <div class="useritems__item">
            <p class="useritems__item__title"><%= gummy.product %></p>
            <%= link_to gummy_path(gummy) do %>
              <% if gummy.image? %>
                <%= image_tag gummy.image.url, class: "useritems__item__img" %>
              <% else %>
                <%= image_tag "noimage.png", class: "useritems__item__img" %>
              <% end %>
            <% end %>
              <ul class="useritems__item__list">
                <li><%= gummy.created_at.to_s(:datetime_jp) %></li>
                <% if user_signed_in? && current_user.id == gummy.user_id %>
                  <li>
                    <%= link_to edit_gummy_path(gummy) do %>
                      <i class="far fa-edit icon"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>