<div class="wrapper">
  <h2 class="profile-name"><strong><i class="fas fa-user-circle"></i> <%= @name %>さんのマイページ</strong></h2>
  <hr>

  <div class="usershow">
    <div class="profile">
      <ul class="profile__info">
        <%- if @image.url %>
          <li><%= image_tag @image.url, class: "profile__img" %></li>
        <% else %>
          <li><%= image_tag "noimage.png", class: "profile__img" %></li>
        <% end %>
        <li>【好きなグミ】</li>
        <li><%= @like %></li><br>
        <li> 【自己紹介】</li>
        <li><%= simple_format(@introduction) %></li><br>
      </ul>
      <% if user_signed_in? && current_user.id == @user_id %>
        <%= link_to edit_user_registration_path	do %>
          <span class="profile-edit">編集</span>
        <% end %>
      <% end %>
    </div>

    <div class="contents">
      <span class="contents__count"><i class="fas fa-list"></i>全<%= @gummies.count %>件の投稿</span>
      <div class="useritems">
        <% @gummies.each do |gummy| %>
          <div class="useritems__item">
            <p class="useritems__item__title"><%= gummy.product %></p>
            <%= link_to gummy_path(gummy) do %>
              <% if gummy.image? %>
                <%= image_tag gummy.image.url,size: "80x120",  class: "useritems__item__img" %>
              <% else %>
                <%= image_tag "noimage.png",size: "80x120", class: "useritems__item__img" %>
              <% end %>
            <% end %>
              <ul class="useritems__item__list">
                <li><%= gummy.created_at.to_s(:datetime_jp) %></li>
                <% if user_signed_in? && current_user.id == gummy.user_id %>
                  <li>
                    <%= link_to edit_gummy_path(gummy) do %>
                      <i class="far fa-edit icon"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>