<% breadcrumb :user %>
<%= render "layouts/breadcrumbs" %>

<div class="wrapper">
  <div class="usershow">
    <div class="profile">
      <ul class="profile__info">
        <%- if @image.url %>
          <li><%= image_tag @image.url, class: "profile__img" %></li>
        <% else %>
          <li><%= image_tag "noimage.png", class: "profile__img" %></li>
        <% end %>
        <li>【好きなグミ】</li>
        <li><%= @like %></li><br>
        <li> 【自己紹介】</li>
        <li><%= simple_format(@introduction) %></li><br>
      </ul>
      <% if user_signed_in? && current_user.id == @user_id %>
        <%= link_to edit_user_registration_path	do %>
          <span class="profile-edit">編集</span>
        <% end %>
      <% end %>
    </div>

    <div class="useritems">
      <span class="useritems__count"><i class="fas fa-list"></i>全<%= @gummies.count %>件の投稿</span>
      <div class="useritems__list">
        <% @gummies.each do |gummy| %>
          <div class="useritems__list__item">
            <p class="useritems__list__item__title"><%= gummy.name %></p>
            <%= link_to gummy_path(gummy) do %>
              <% if gummy.image? %>
                <%= image_tag gummy.image.url,  class: "useritems__list__item__img" %>
              <% else %>
                <%= image_tag "noimage.png", class: "useritems__list__item__img" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>