<!DOCTYPE html>
<html>
  <head>
    <title>Gummi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <h1 class="header__title"><%= link_to "Gummi", root_path %></h1>
        <ul class="header__list">
          <li><%= current_user.name %></li>
          <li><%= link_to "マイページ" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "投稿する", new_gummy_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
      <small>&copy; 2020 tukky-14</small>
    </footer>
  </body>
</html>