<!DOCTYPE html>
<html>
  <head>
    <title>Logumi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="header">
        <h1 class="header__title"><%= link_to "Logumi", root_path %></h1>
        <% if user_signed_in? %>
          <ul class="header__list">
            <li class="header__list__name"><%= current_user.name %></li>
            <li class="header__list__select"><%= link_to "マイページ", user_path(current_user.id), method: :get %></li>
            <li class="header__list__select"><%= link_to "投稿する", new_gummy_path %></li>
            <li class="header__list__logout">
            <%= link_to destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"} do %>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
            </li>
        <% else %>  
          <ul class="header__list">
            <li class="header__list__select"><%= link_to "ログイン", new_user_session_path %></li>
            <li class="header__list__select"><%= link_to "新規登録", new_user_registration_path %></li>
          </ul>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <small>&copy; 2020 tukky-14</small>
    </footer>
  </body>
</html>